name: PlatformIO CI

# Triggers on push or pull request for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Set up PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio
      - name: Build with PlatformIO
        run: platformio run $GITHUB_WORKSPACE -e pro8MHzatmega328
