name: PlatformIO CI

# Triggers on push or pull request for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  paths-ignore:
    - 'docs/**'
    - 'README.md'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Set up PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio
      - name: Build with PlatformIO
        run: platformio run -d $GITHUB_WORKSPACE -e pro8MHzatmega328
